openai
python-decouple
langchain
sentence-transformers
chromadb
streamlit
Cython==0.29.21
librosa==0.8.0
phonemizer==2.2.1
scipy
numpy
torch
torchvision
matplotlib
Unidecode==1.1.1
IPython
commons
google-search-results